/*전체wrap*/
#content {
    overflow: hidden;
  }
  /*스크랩 버튼*/
  /*채용정보 스크랩(별모양 버튼) 사이즈,색*/
  /* .scrap {
    color: rgba(128, 128, 128, 0);
    border: 1;
    border-color: rgba(255, 235, 205, 0.5);
    background-color: rgba(255, 235, 204, 0);
    overflow: hidden;
    width: 25px;
    height: 25px;
    
  } */
  #applyscrap .scrap {
    background: url(../images/tpl_bg_icn.png) no-repeat;
    background-position: -29px -170px;
    display: block;
    margin-top: 2.5px;
    margin-left: auto;
    margin-right: 35px;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
    position: relative;
    border: 0;
    cursor: pointer;
    float: right;
}

  /*지원기간 표시 (글씨 크기)*/
  .applydate {
    display: inline;
    font-size: 13px;
    margin-left: 30px;
  }
  /*즉시지원 버튼*/
  .applynow {
    color: coral;
    border-color: coral;
    height: 20px;
    width: 60px;
    font-size: 8pt;
    font-style: bold;
    border-radius: 8px;
    background-color: rgb(255, 238, 231);
    margin-left: 30px;
    margin-right: 0px;
  }
  /*불렛포인트 제거*/
  li {
    list-style: none;
  }
  /*메인페이지 채용공고 4개씩*/
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: rgba(33, 150, 243, 0);
    padding: 10px;
    height: 500px;
  }
  /*채용공고 칸*/
  .grid-container > li {
    background-color: rgba(255, 235, 205, 0);
    border: 1px solid rgba(94, 88, 88, 0.219);
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    border-top: 4px solid blue;
  }
/*채용공고 사이 이미지배너 4개짜리 한줄에 표시*/
  .imagebanner {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  /*채용공고 내 즉시지원, 지원기간, 스크랩 버튼 일렬로 표시*/
  #applyscrap {
    display: flex;
  }
  /*채용공고 채용관 이름, 상품안내(더보기) 한줄표시*/
  .bannerwrap {
    display: flex;
    justify-content: space-between;
  }
  /*상품안내 버튼*/
  .bannerwrap button {
    background-color: rgba(128, 128, 128, 0);
    border: none;
  }
  /*상품안내 버튼 밑줄표시*/ 
  .viewmore{
    text-decoration: underline;
  }
  /*슬라이더 버튼*/
  .sliderbutton > div > button{
    border-radius: 50px;
    height: 100px;
    background-color: white;
  
  }

.bannerwrap h4 {
    margin-bottom: 10px;
    line-height: 26px;
    color: #171717;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.5px;
}

.grid-container div img {
  width: 180px;
  height: 72px;
}
  
.sliderwrap .carousel-control-next-icon {
  right: -8px;
  background-image: url(../images/next_middle.svg);
}

.sliderwrap .carousel-control-prev-icon {
  left: -8px;
  background-image: url(../images/prev_middle.svg);
}

.sliderwrap {
  background-color: rgba(226,234,243,.5);

}

.flow_banner_box {
  padding-top: 15px;
}

.sliderwrap .carousel-control-next, 
.sliderwrap .carousel-control-prev {
  width: 5%;
}

.flow_banner_box ul li {
  margin-left: 30px;

}

.grid-container li {
  box-sizing: border-box;
  width: 300px;
  height: 247px;
}

/*채용공고 내 회사 이름*/
.compName{
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  color: rgba(54, 59, 59, 0.878);
  font-size: 15px;
  font-weight: 500;
}
/*채용공고 내 채용정보*/
.recruitInfo{
  text-align: left;
  margin-left: 30px;
  font-size: 16px;
  margin-right: 30px;

}
/*즉시지원 버튼 있는 칸 지원기간*/
.applydateWithApply{
  margin-left: 4px;
  display: inline;
  font-size: 13px;
}
/*그리드 호버~*/
.grid-container li:hover {
		transform: translate(0, -10px);
  }




  /*게임분야 채용정보 */



  /*게임분야 채용정보 틀*/
  .l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .company {
    position: relative;
    height: 70px;
    margin-bottom: 25px;
    padding: 17px 0 0 14px;
    background-color: #000;
    color: #fff;
    line-height: 1;
    text-align: left;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 700;
  }
/*1번 채용공고칸 백이미지*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .company.bg1 {
  background: #837d6d url(https://i.jobkorea.kr/content/images/main/bg-gamejob1.jpg?2019012914) no-repeat 0 0;
}
/*2번 채용공고칸 백이미지*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .company.bg2 {
  background: #837d6d url(https://i.jobkorea.kr/content/images/main/bg-gamejob2.jpg?2019012914) no-repeat 0 0;
}
/*3번 채용공고칸 백이미지*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .company.bg3 {
  background: #837d6d url(https://i.jobkorea.kr/content/images/main/bg-gamejob3.jpg?2019012914) no-repeat 0 0;
}
/*4번 채용공고칸 백이미지*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .company.bg4 {
  background: #837d6d url(https://i.jobkorea.kr/content/images/main/bg-gamejob4.jpg?2019012914) no-repeat 0 0;
}
/*게임 채용정보 칸*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item ul {
  overflow: hidden;
  position: relative;
  height: 70px;
  box-sizing: border-box;
  padding-bottom: 6px;
  margin: 0 15px;
  text-align: left;
  border-bottom: 1px solid #e9eaec;
}
/*게임 채용정보 한 줄*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item li {
  position: relative;
  margin-bottom: 4px;
  padding-left: 4px;
  font-size: 13px;
  text-align: left;
}
/*게임분야 채용공고 전체 칸*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item {
  float: left;
  overflow: hidden;
  position: relative;
  width: 306px;
  height: 206px;
  margin-right: 12px;
  border: 1px solid #c8cbd0;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
}

/*게임 채용공고 맨 밑에 칸*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .extra {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 37px;
  padding: 0 18px;
  height: 39px;
  line-height: 39px;
  font-size: 13px;
}
/*로고사진*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .item .logo {
  z-index: 10;
  position: absolute;
  left: 28px;
  top: 58px;
}
/*게임분야 채용공고 전체 칸*/
.l-wrap-bottom.l-gamejob-wrap .l-gamejob .list {
  overflow: hidden;
  position: relative;
  width: 1330px;
  padding: 0;
}
/*게임분야 채용 정보 제목 텍스트*/
.l-wrap-bottom h3.header {
  margin-bottom: 13px;
  line-height: 1.445;
  letter-spacing: -1px;
  color: #171717;
  font-size: 18px;
}
/*채용광고 더보기*/
.l-wrap-bottom .btn_more_header {
  right: 0;
  top: 4px;
  color: #6a6a6a;
  font-size: 14px;
}
.skip{
  font-size: 0;
}

.go_top {
  position: fixed;
  display: none;
  bottom: 40px;
  right: 40px;
  width: 56px;
  height: 56px;
  background-image: url(../images/go_top.svg);
}

.go_top .txt {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(1px,1px,1px,1px);
}
