/* 헤더 크기 설정 */
header {
    position: relative;
    z-index: 2000;
    font-family: 'Pretendard Variable', 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'sans-serif';
}

header .headInner, 
header .headNavBar .navInner, 
header .lyNavWrap {
    width: 1260px;
    min-width: 1260px;
}

/* 헤더 로고 및 검색창 부분 */
header .headInner {
    padding-top: 32px;
    padding-bottom: 6px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

/* 로고 마진 0 */
.jkLogo {
    margin: 0;
}

/* 로고 안 a 옵션 설정 */
.jkLogo a {
    display: block;
    font-size: 0;
    width: 143px;
    height: 25px;
    margin-right: 19px;
}

/* a after로 이미지 호출 */
.jkLogo a:after {
    content: "";
    display: block;
    width: 143px;
    height: 25px;
    background-image: url(../images/logo_motion_pc.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 143px 25px;
}

/* 소스상에서만 보이는 텍스트 */
header legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0;
    line-height: 0;
}

/* 헤더 검색창 설정 */
header .search {
    box-sizing: border-box;
    width: 440px;
    height: 40px;
    border: 2px solid #172bff;
    position: relative;
    margin-left: 0;
    border-radius: 60px;
    background-color: #fff;
}

/* 소스상에서만 보이는 텍스트 */
header .skip {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

/* 헤더 검색창 설정 */
header .search fieldset .smKey {
    position: relative;
    border-radius: 60px;
}

/* 검색창 안 텍스트 설정 */
header .search fieldset .smKey input#stext {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 42px 6px 22px;
    height: 36px;
    font-size: 15px;
    letter-spacing: -.5px;
    color: #171717;
    background: rgba(0,0,0,0);
}

/* 검색 버튼 설정 및 이미지 호출 */
header .search fieldset .smKey input.submit {
    width: 44px;
    height: 36px;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    text-indent: -9999em;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/search.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: rgba(0,0,0,0);
}

/* 상세검색 설정 */
header .headInner .subSchArea {
    display: flex;
}

header .headInner .subSchLink {
    margin-left: 8px;
}

/* 상세검색 창 버튼 설정 */
header .headInner .subSchLink .linkItem {
    position: relative;
    display: block;
    width: 93px;
    height: 40px;
    border: 1px solid #dbdfe2;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* 상세검색 버튼 이름 설정 */
header .headInner .subSchLink .linkItem .spNav {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.5px;
    background-image: none;
    color: #6a6a6a;
}

/* 헤더 우측 상단 배너 영역 설정 */
header .headInner .headBann {
    margin-left: auto;
    flex-direction: row-reverse;
}

header .headInner .headBann,
header .headInner .headBann .headBannBtns {
    display: flex;
    align-items: center;
}

header .headInner .headBann .headBannBtns {
    flex-direction: row;
}

/* 헤더 우측 상단 배너 버튼 설정 */
header .headInner .headBann .headBannBtns button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    width: 18px;
    height: 18px;
    margin-left: -1px;
    background: none;
    border: 1px solid #f8f8f8;
}

header .headInner .headBann .headBannBtns button.btnBannPrev:before {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url(../images/prev_mini.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

header .headInner .headBann .headBannBtns button.btnBannPrev {
    padding-right: 2px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

header .headInner .headBann .headBannBtns button.btnBannNext:before {
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url(../images/next_mini.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

header .headInner .headBann .headBannBtns button.btnBannNext {
    padding-left: 2px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

/* 배너 이미지 설정 및 크기 조정 */
header .headInner .headBann .bannBx {
    width: 106px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

header .headInner .headBann .bannBx .bann-albamon {
    width: 100px;
    height: 24px;
}


header .headInner .headBann .bannBx .bann-albamon:after {
    background-image: url(../images/albamon.svg);
    background-repeat: no-repeat;
}

header .headInner .headBann .bannBx .bann-gamejob {
    width: 106px;
    height: 30px;
}

header .headInner .headBann .bannBx .bann-gamejob:after {
    background-image: url(../images/gamejob.svg);
    background-repeat: no-repeat;
}

header .headInner .headBann .bannBx .bann-logo {
    display: block;
    font-size: 0;
}

header .headInner .headBann .bannBx a {
    position: absolute;
    left: 100%;
    top: 0;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

header .headInner .headBann .bannBx a.on {
    left: 0;
}

header .headInner .headBann .bannBx .bann-logo:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 전체 보기 클릭 시 내용 설정 */
header .headNavBar, 
header .headNavBar .navInner {
    display: flex;
}

header .headNavBar {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    height: 64px;
    box-sizing: initial;
}

#headerWrap .headNavBar .navInner {
    justify-content: flex-start;
    margin: 0 auto;
}

/* active 시 전체보기 화면이 보이도록 설정 */
header .headNavBar .active {
    overflow: visible;
}

header .headNavBar .allArea {
    width: 38px;
    height: 64px;
}


header .headNavBar .allArea .btnAllService {
    position: relative;
    width: 38px;
    height: 100%;
    padding: 20px 14px 20px 0;
}

header .headNavBar .allArea .btnAllService .spGnb {
    background-color: #fff;
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
    position: relative;
    display: block;
}

/* 전체 보기 버튼 설정 */
header .headNavBar .allArea .btnAllService .menu-ham {
    position: relative;
    height: 24px;
    width: 24px;
    display: block;
    box-sizing: border-box;
    text-indent: 0;
}

/* 버튼 클릭 시 이미지가 변화되는 설정 */
header .headNavBar .allArea.active .btnAllService .menu-ham svg .line1 {
    transform: rotate(45deg);
    transform-origin: top left;
}

header .headNavBar .allArea.active .btnAllService .menu-ham svg .line2 {
    opacity: 0;
}

header .headNavBar .allArea.active .btnAllService .menu-ham svg .line3 {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

/* 버튼 이미지가 변화되는 속도 설정 */
header .headNavBar .allArea .btnAllService .menu-ham svg path {
    transition: all .4s;
}

/* 전체보기 메뉴 크기 설정 */
header .allArea.active .lyNavArea {
    display: block;
    height: 360px;
}

header .lyNavArea {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 64px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 100;
}

header .open .lyNavArea {
    display: block;
}

header .lyNavArea .lyNavWrap {
    margin: 0 auto;
    border: 1px solid #ebeef3;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    text-align: left;
}

header .lyNavWrap .col2 {
    width: 50%;
}

header .lyNavWrap .col4 {
    width: 25%;
}

header .lyNavArea .lyNavWrap .lyNavInner.side {
    position: relative;
    padding-right: 20%;
}

header .lyNavArea .lyNavWrap .sideCol {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    background-color: rgb(249, 250, 252);
    border-left: 1px solid rgb(235, 238, 243);
}

header .hhReqLyArea {
    display: none;
    position: absolute;
    left: 50%;
    top: 51px;
    width: 980px;
    height: 870px;
    z-index: 10001;
    margin-left: -490px;
    background-color: #fff;
}

header .tplDim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    filter: alpha(opacity=40);
    z-index: 10000;
}

header .navItem.gi .lyNavWrap .sideInner .row01 {
    height: 495px;
}

header .navItem.start .lyNavWrap .row01 .colItem {
    height: 287px;
}

header .navItem.hh .lyNavWrap .row01 .colItem, 
header .navItem.hh .lyNavWrap .sideInner .row01 {
    height: 245px;
}

header .navItem.salary .lyNavWrap .row01 .colItem, 
header .navItem.salary .lyNavWrap .sideInner .row01 {
    height: 287px;
}

header .navItem.futurelab .lyNavWrap .row01 .colItem, 
header .navItem.futurelab .lyNavWrap .sideInner .row01 {
    height: 240px;
}


header .lyNavArea .lyNavWrap .sideCol .row01, 
header .lyNavArea .lyNavWrap .sideCol .row02 {
    position: relative;
}

header .lyNavArea .lyNavWrap .sideCol .row01 {
    display: block;
}

header .navItem.gi .lyNavWrap .row01 .colItem {
    height: 495px;
    padding: 0px 0px 20px;
    box-sizing: border-box;
}

header .navItem.gi .lyNavWrap .row02 .colItem {
    height: 246px;
}

#headerWrap .lyNavArea .lyNavWrap .sideCol .sideList {
    padding: 9px 0 0 13.8%;
    margin-top: 0;
    background-color: rgba(0,0,0,0);
}

header .lyNavArea .lyNavWrap .sideCol .sideList li {
    margin-top: 10px;
}

header .lyNavArea .lyNavWrap .sideCol .sideList a {
    color: #000 !important;
    font: 700 13px/1.2 "\B9D1\C740 \ACE0\B515",Malgun Gothic,"\B3CB\C6C0",Dotum,sans-serif;
    padding-left: 26px;
    position: relative;
    letter-spacing: -.5px;
}

header .lyNavArea .lyNavWrap .sideCol .titArea + .sideList li:first-child {
    margin-top: 8px;
}

header #gnbGi .lyNavArea .lyNavWrap .sideCol .sideBtmBx {
    position: absolute;
    left: 50%;
    width: 198px;
    margin-left: -99px;
}

/* 헤드헌팅 취업/이직 제의 박스 */
header .hh .lyNavArea .lyNavWrap .sideCol .sideBtmBx {
    top: 30px;
    width: 174px;
    margin: auto;
}

header .hh .sideCol .gnbHhLink {
    border: 1px solid #ebeef3;
    background-color: #fff;
    text-align: center;
    margin: 25px 0;
    padding: 31px 0 25px;
}

header .hh .sideCol .gnbHhLink .tx {
    font-size: 15px;
    color: #666;
    letter-spacing: -.75px;
    line-height: 24px;
}

header .hh .sideCol .gnbHhLink .tx strong {
    display: block;
    color: #39f;
}

header .hh .sideCol .gnbHhLink .link {
    padding-top: 17px;
}

header .hh .sideCol .gnbHhLink .link a {
    display: block;
    width: 123px;
    height: 30px;
    font: 700 13px/30px "\B9D1\C740 \ACE0\B515",Malgun Gothic,"\B3CB\C6C0",Dotum,sans-serif;
    color: #39f !important;
    text-align: center;
    border: 1px solid #39f;
    margin: 0 auto;
}

header .gi .sideCol .sideBtmBx {
    bottom: 30px;
}

header .gi .sideCol .sideBtmBx .sideLinkType01 a:last-child {
    margin-bottom: 0;
}

header .gi .sideCol .sideBtmBx .sideLinkType01 a {
    display: block;
    letter-spacing: -.5px;
    border: 1px solid #ebeced;
    padding: 12px 0 14px 15px;
    background-color: #fff;
    margin-bottom: 10px;
}

header .gi .sideCol .sideBtmBx .sideLinkType01 a strong {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}

header .lyNavArea .lyNavWrap .spGnb {
    background: url(../images/sp_gnb.png) 0px 0px no-repeat;
}

header .lyNavArea .lyNavWrap .sideCol .sideList a .icnList {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .top100 a .icnList {
    width: 20px;
    height: 23px;
    background-position: -257px -138px;
    left: 1px;
    top: 0;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .my-recommend a .icnList {
    width: 18px;
    height: 19px;
    background-position: -119px -120px;
    left: 2px;
    top: 0;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .recruit-detail-search a .icnList {
    width: 22px;
    height: 22px;
    background-position: -119px -180px;
    left: 2px;
    top: 0;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .best1000 a .icnList {
    width: 21px;
    height: 20px;
    background-position: -30px -120px;
    left: 1px;
    top: 1px;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .ort a .icnList {
    width: 19px;
    height: 17px;
    background-position: -30px -150px;
    left: 1px;
    top: 1px;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .intern a .icnList {
    width: 19px;
    height: 18px;
    background-position: -60px -120px;
    left: 1px;
    top: 0;
}

header .lyNavArea .lyNavWrap .sideCol .sideList .cal a .icnList {
    width: 19px;
    height: 17px;
    background-position: -60px -150px;
    left: 1px;
    top: 1px;
}


header .lyNavArea .btnCloseNav {
    display: block;
    width: 29px;
    height: 30px;
    position: absolute;
    right: -50px;
    top: 28px;
    overflow: hidden;
    text-indent: -9999px;
    background-position: -88px -74px !important;
}

header .lyNavArea .lyNavWrap .titArea {
    display: block;
    padding: 27px 0 4px 26px;
    border-bottom: none;
    margin: 0 !important;
}

header .lyNavArea .lyNavWrap .titArea .tit {
    display: inline-block;
    font-size: 15px;
    letter-spacing: -0.5px;
    position: relative;
    color: rgb(51, 51, 51) !important;
}

/* > 이미지 불러오기 */
header .lyNavArea .lyNavWrap .titArea .tit .spGnb {
    display: inline-block;
    width: 6px;
    height: 11px;
    background-position: -140px -32px;
    margin-left: 9px;
    vertical-align: 0;
}

header .lyNavArea .lyNavWrap .titArea .tit.beta, 
header .lyNavArea .lyNavWrap .titArea .tit.beta .spGnb {
    display: flex;
    align-items: center;
}

header .lyNavArea .all-navWrap .colItem .navWrapBanner {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 173px;
}

/* header .lyNavArea .lyNavWrap .listBx {
    padding-left: 26px;
} */

header .lyNavArea .lyNavWrap .listBx.listBx-col {
    display: flex;
    flex-wrap: wrap;
}

header .lyNavArea .all-navWrap .listBx {
    display: flex;
    flex-wrap: wrap;
    padding-left: 26px;
}

header .lyNavArea .all-navWrap .listBx ul {
    padding: 0;
}

header .lyNavArea .all-navWrap .listBx ul:first-child {
    margin-bottom: 20px;
}

header .lyNavArea .lyNavWrap .listBx li {
    margin-top: 9px;
    height: 17px;
}

header .lyNavArea .lyNavWrap .listBx a {
    font-size: 13px;
    color: #666 !important;
    letter-spacing: -.5px;
    position: relative;
    line-height: 15px;
}

header .lyNavArea .lyNavWrap .listBx:after {
    content: "";
    display: block;
    clear: both;
}

header .lyNavArea .all-navWrap .col5 .listBx ul {
    width: 50%;
}

header .lyNavArea .all-navWrap .listBx ul li.home {
    padding-bottom: 11px;
}

header .lyNavArea .lyNavWrap .listBx li {
    margin-top: 9px;
    height: 17px;
}

header .lyNavArea .all-navWrap .listBx ul:first-child {
    margin-bottom: 20px;
}

header .lyNavArea .all-navWrap .listBx ul:nth-child(2) {
    margin-bottom: 20px;
}

header .lyNavArea .lyNavWrap .listBx:after {
    content: "";
    display: block;
    clear: both;
}

header .lyNavArea .lyNavWrap .listBx .colList.joblistArea li {
    width: 54px;
}

header .lyNavArea .lyNavWrap .listBx .colList li.begin {
    clear: left;
    padding-left: 0px !important;
}

header .lyNavArea .lyNavWrap .listBx .colList li {
    float: left;
}

header .allArea .all-navWrap {
    position: relative;
}

header .lyNavWrap .lyCol {
    float: left;
}

header .allArea .all-navWrap .row01 .colItem {
    height: 375px;
}

header .allArea .lyNavWrap .row01 .colItem {
    height: 318px;
}

header .allArea .all-navWrap .row01 .lyCol:last-child .colItem {
    border-right: 0 !important;
}

header .lyNavArea .lyNavWrap .colItem {
    border-right: 1px solid #ebeef3;
}

header .lyNavArea .all-navWrap .colItem {
    border-right: 1px solid #ebeef3;
    position: relative;
}

/* 전체보기 메뉴별 크기 설정 */
header .all-navWrap .col4 {
    width: 17% !important;
}

/* 퓨쳐랩 메뉴만 별도 크기 조절 */
header .all-navWrap .col5 {
    width: 32% !important;
}

header .lyNavWrap .lyRow:after {
    content: "";
    display: block;
    clear: both;
}

header .headNavBar .jkNavArea, 
header .headNavBar .jkNavArea .serviceNav {
    display: flex;
}

header .headNavBar .jkNavArea .serviceNav {
    margin-bottom: 10px;
}

header .headNavBar .jkNavArea {
    width: 100%;
    margin: -1px 0 0 -1px;
    align-items: center;
}

header .headNavBar .jkNavArea .navItem.theme,
header .headNavBar .jkNavArea .serviceNav .navItem.careerpath {
    position: relative;
}

/* 전체보기 클릭 시 전체보기 메뉴 아래 화면 어둡게 */
.jkNavDimm-click.on {
    display: block !important;
}

/* 전체보기 누르기전 설정 */
.jkNavDimm-click {
    display: none;
    position: fixed;
    top: 500px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    z-index: 1999;
}

/* 채용정보 hover 시 메뉴 아래 화면 어둡게 */
.jkNavDimm-hover1.on, 
.jkNavDimm-hover2.on, 
.jkNavDimm-hover3.on, 
.jkNavDimm-hover4.on, 
.jkNavDimm-hover5.on {
    display: block !important;
}

/* 채용정보 hover 전 설정 */
.jkNavDimm-hover1, 
.jkNavDimm-hover2, 
.jkNavDimm-hover3, 
.jkNavDimm-hover4, 
.jkNavDimm-hover5 {
    display: none;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    z-index: 1999;
}

.jkNavDimm-hover1 {
    top: 638px;
}
.jkNavDimm-hover2 {
    top: 431px;
}
.jkNavDimm-hover3 {
    top: 388px;
}
.jkNavDimm-hover4 {
    top: 431px;
}
.jkNavDimm-hover5 {
    top: 384px;
}

header .headNavBar .userNav {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

header .headNavBar .jkNavArea .userNav .userNav-item {
    position: relative;
    padding: 20px 10px;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

header .headNavBar .jkNavArea .navItem .linkItem, 
header .headNavBar .jkNavArea .navItem .linkItem .spNav {
    display: flex;
    align-items: center;
}

header .headNavBar .jkNavArea .navItem {
    align-items: center;
}

header .headNavBar .jkNavArea .navItem .linkItem {
    position: relative;
    padding: 20px 14px;
    line-height: 26px;
    box-sizing: border-box;
}

header .headNavBar .jkNavArea .navItem .linkItem .spNav {
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: #171717;
    background-image: none;
    cursor: pointer;
}

header .headNavBar .jkNavArea .navItem .linkItem .spNav .txIr {
    color: #171717;
    letter-spacing: -.5px;
}

header .headNavBar .jkNavArea .navItem .linkItem .spNav .txIr:hover {
    color: #00f;
    letter-spacing: -.5px;
}

/* 공채정보 버튼 위 2023 작은 이미지 추가 */
header .headNavBar .jkNavArea .serviceNav .navItem.start > a:before {
    content: "";
    background-image: url(../images/2023_top.svg);
    display: block;
    width: 26px;
    height: 10px;
    position: absolute;
    background-size: 26px 10px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    z-index: 1;
}

/* 원픽 버튼 위 이직은 작은 이미지 추가 */
header .headNavBar .jkNavArea .navItem.theme:before {
    content: "";
    background-image: url(../images/turnover.svg);
    display: block;
    width: 30px;
    height: 11px;
    position: absolute;
    background-size: 30px 11px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    z-index: 1;
}

/* 원픽 버튼 왼쪽에 체크 아이콘 이미지 추가 */
header .headNavBar .jkNavArea .navItem.theme .linkItem .spNav:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    margin-top: 3px;
    background-image: url(../images/check.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-color: rgba(0,0,0,0);
}

/* 커리어패스 버튼 위에 레벨업은 작은 이미지 추가 */
header .headNavBar .jkNavArea .serviceNav .navItem.careerpath:before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 11px;
    background-image: url(../images/levelup.svg);
    background-size: 40px 11px;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    z-index: 1;
}

/* 로그인, 회원 가입 버튼 설정 */
header .headNavBar .jkNavArea .userNav .join .join-button, 
header .headNavBar .jkNavArea .userNav .login .login-button {
    font-size: 15px;
    color: #6a6a6a;
    font-weight: 500;
    letter-spacing: -.5px;
}

header .headNavBar .jkNavArea .userNav .userNav-item .txt-button {
    font-size: 16px;
    line-height: 28px;
    color: #6a6a6a;
    display: block;
}

header .headNavBar .jkNavArea .userNav .userNav-item:last-child {
    margin-right: 0;
}

/* 기업서비스 버튼 설정 */
header .headNavBar .jkNavArea .userNav .corp, 
header .headNavBar .jkNavArea .userNav .corp > a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header .headNavBar .jkNavArea .userNav .corp > a {
    font-size: 15px;
    font-weight: 500;
    color: #6a6a6a;
    border: 1px solid #e8e8e8;
    height: 34px;
    padding: 0 16px;
    border-radius: 50px;
    letter-spacing: -.5px;
}

header .headNavBar .userNav .corp .lyMyArea {
    left: auto;
    right: 0;
}

header .headNavBar .userNav .lyMyArea {
    display: none;
    width: 184px;
    position: absolute;
    right: 0;
    top: 62px;
    background-color: #fff;
    border: 1px solid #6a6a6a;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    border-radius: 8px;
    z-index: 2;
    overflow: hidden;
}

header .headNavBar .userNav .lyMyArea .lyRow {
    position: relative;
}

header .headNavBar .userNav .lyMyArea .lyRow + .myLists {
    border-top: 1px solid #e8e8e8;
}

header .headNavBar .userNav .lyMyArea .myLists {
    padding: 12px 0;
    text-align: left;
}

header .headNavBar .userNav .corp .lyMyArea .icnArr {
    left: auto;
    right: 32px;
}

header .headNavBar .userNav .lyMyArea .icnArr {
    display: block;
    position: absolute;
    left: 42px;
    top: -10px;
    width: 17px;
    height: 10px;
    background-position: -160px -55px;
}

header .headNavBar .navInner:after {
    content: "";
    display: block;
    clear: both;
}

/* 광고 관련 css */
#banner-area {
    width: 1260px;
    margin: 17px auto 15px;
    font-size: 0;
    text-align: left;
}

/* 왼쪽 큰 배너 설정 */
#banner-area .bnr-big {
    width: 750px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
}

#banner-area .bnr-big > a img,
#banner-area .bnr-marketing > a img {
    margin: 0;
}

#banner-area > div {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 90px;
}

/* swiper 기능이 추가된 배너 설정 */
#banner-area .bnr-service {
    width: 216px;
    margin: 0 17px;
    border: 1px solid #e8e8e8;
}

#banner-area .bnr-service a img {
    width: 216px;
}

#banner-area > div img {
    border-radius: 8px;
    padding: 0;
    margin: 0 -32px;
    border: 0;
    vertical-align: top;
}

#banner-area .bnr-service a {
    display: block;
}

/* swiper 배너 버튼 설정 */
#banner-area .bnr-service .bnrs-next, 
#banner-area .bnr-service .bnrs-prev {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

#banner-area .bnr-service .bnrs-prev {
    left: 8px;
    background-image: url(../images/prev_middle.svg);
}

#banner-area .bnr-service .bnrs-next {
    right: 8px;
    background-image: url(../images/next_middle.svg);
}

/* 우측 작은 배너 이미지 설정 */
#banner-area .bnr-marketing {
    width: 260px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
}

/* swiper 기능 설정 */
.bnr-swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.bnr-swiper .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.bnr-swiper .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.bnr-swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}