/* header 공간 설정 */
#wrap{
    width: 1240px;
    height: 280px;
    margin: 0;
    background-color: white;
}
#topArea{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.topContent{
    width: 1240px;
    height: 100%;
    margin: 0, auto;
    display: flex;
    align-items: center;
}

/* 좌측 상단 로고 */
.logo{
    display: flex;
    align-items: center ;  
}
.logo a span{
    display: flex;
    align-items: center;
    color: #171717;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -1,5px;
    font-weight: 500;
    margin-left: 21px;
}
.logo a span::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24.004'%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 43'%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 41'%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 40'%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 39'%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 38'%3E%3Ccircle data-name='%ED%83%80%EC%9B%90 146' cx='12' cy='12' fill='%23fbc400' r='12' transform='translate(0 .004)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg data-name='%EA%B7%B8%EB%A3%B9 42' fill='%23002151'%3E%3Cpath data-name='%ED%8C%A8%EC%8A%A4 3' d='M12.233 17.352a2.125 2.125 0 01-2.967-.417l-4.089-5.414a2.124 2.124 0 01.417-2.967 2.125 2.125 0 012.967.417l4.086 5.414a2.125 2.125 0 01-.414 2.967z'/%3E%3Cpath data-name='%ED%8C%A8%EC%8A%A4 4' d='M9.694 17.356a2.125 2.125 0 01-.422-2.966L19.508.844a2.125 2.125 0 012.966-.422 2.124 2.124 0 01.422 2.966L12.66 16.934a2.124 2.124 0 01-2.966.422z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 100%;
    margin-right: 8px;
    background-repeat: no-repeat;
}
.topMenu li:last-child::after {
    display: none
}
/* 우측 상단 메뉴 */
#topArea .topMenu{
    display: flex;
    height: 100%;
    margin-top: 15px;
    margin-left: 580px;
}
.topMenu li{
    padding: 0 16px 0 15px;
    position: relative;
    height: 100%;
    display: flex;
    float: left;
    align-items: center
}
.topMenu li a{
    line-height: 22px;
    color: #6a6a6a;
    padding: 0 1px;
    display: block;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}
.topMenu li::after {
    content: "";
    display: inline-block;
    background-color: #e8e8e8;
    height: 12px;
    width: 1px;
    position: absolute;
    top: 43.5%;
    right: 0;
}

/* 광고 베너 Banner */
.head_banner{
    position: relative;
    margin: 15px 0 0;
    text-align: center;
}
.head_banner .bann-wrap{
    display: inline-flex;
    background-size: 100%;
    border-radius: 8px;
}
